json/flows.json
[{"id":"8255b892.57b5b8","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"1f990808.24ec68","type":"mqtt out","z":"8255b892.57b5b8","name":"交互式多媒体客户端输出","topic":"/a1bjOQPBECS/Client/user/status","qos":"","retain":"","broker":"1b5febb7.373804","x":850,"y":340,"wires":[]},{"id":"60db70fc.813dd","type":"ui_button","z":"8255b892.57b5b8","name":"","group":"7453e6be.6160e8","order":1,"width":0,"height":0,"passthru":false,"label":"上课","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"status\": 1}","payloadType":"json","topic":"","x":450,"y":300,"wires":[["1f990808.24ec68","97565a7b.78cbc8"]]},{"id":"cd08a19d.2678a","type":"mqtt in","z":"8255b892.57b5b8","name":"交互式多媒体客户端输入","topic":"/a1bjOQPBECS/Client/user/status","qos":"0","datatype":"json","broker":"1b5febb7.373804","x":370,"y":140,"wires":[["5ee5f0b5.13084","5275f798.c16908"]]},{"id":"5ee5f0b5.13084","type":"debug","z":"8255b892.57b5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.status","targetType":"msg","x":770,"y":60,"wires":[]},{"id":"8dd58bed.ecd148","type":"ui_text","z":"8255b892.57b5b8","group":"7453e6be.6160e8","order":2,"width":0,"height":0,"name":"","label":"当前状态","format":"{{msg.payload.status}}","layout":"row-spread","x":1060,"y":120,"wires":[]},{"id":"97565a7b.78cbc8","type":"debug","z":"8255b892.57b5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":280,"wires":[]},{"id":"45ce1b38.158744","type":"ui_button","z":"8255b892.57b5b8","name":"","group":"7453e6be.6160e8","order":2,"width":0,"height":0,"passthru":false,"label":"下课","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"status\": 0}","payloadType":"str","topic":"","x":450,"y":380,"wires":[["1f990808.24ec68"]]},{"id":"86c4faf2.324d28","type":"switch","z":"8255b892.57b5b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":260,"wires":[[]]},{"id":"5275f798.c16908","type":"switch","z":"8255b892.57b5b8","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":140,"wires":[["aa4db749.b17a48"],["4a84c940.43d1c8"]]},{"id":"aa4db749.b17a48","type":"change","z":"8255b892.57b5b8","name":"","rules":[{"t":"change","p":"payload.status","pt":"msg","from":"1","fromt":"num","to":"上课","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":100,"wires":[["8dd58bed.ecd148"]]},{"id":"4a84c940.43d1c8","type":"change","z":"8255b892.57b5b8","name":"","rules":[{"t":"change","p":"payload.status","pt":"msg","from":"0","fromt":"num","to":"下课","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":160,"wires":[["8dd58bed.ecd148"]]},{"id":"1b5febb7.373804","type":"mqtt-broker","z":"","name":"交互式多媒体客户端","broker":"a1bjOQPBECS.iot-as-mqtt.cn-shanghai.aliyuncs.com","port":"1883","clientid":"Client|securemode=3,signmethod=hmacsha1|","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7453e6be.6160e8","type":"ui_group","z":"","name":"交互式多媒体设备管理系统","tab":"daba66e4.b78378","order":1,"disp":true,"width":"6","collapse":false},{"id":"daba66e4.b78378","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]